<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <link rel="stylesheet" href="">
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="http://ucicssa.org/bootstrap.css">
        <link rel="stylesheet" href="http://ucicssa.org/main.css">      
    </head>

    <body>
        <div class="nav">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
              
                    <ul class="pull-left nav nav-pills">
                        <li><a href="/">UAV @ UCI</a></li>
                        <li><a href="/tagannouncements">Announcements</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/members">Members</a></li>
                        <li><a href="/get-involved">Get Involved</a></li>
                    </ul>

                    <ul class="pull-right nav nav-pills">
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>


    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>