<!-- Benjamin You's UAVForge@UCI Website Template -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <link rel="stylesheet" href="">
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="http://ucicssa.org/bootstrap.css">
        <link rel="stylesheet" href="http://ucicssa.org/main.css">      
    </head>

    <body>
        <div class="nav">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
              
                    <ul class="pull-left nav nav-pills">
                        <li><a href="/">UAV @ UCI</a></li>
                        <li><a href="/tagannouncements">Announcements</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="#members">Members</a></li>
                        <li><a href="#get-involved">Get Involved</a></li>
                    </ul>

                    <ul class="pull-right nav nav-pills">
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class = "neighborhood-guides">
            <div class = "container">
                <div class="row">

                    <div class="col-md-2">
                        
                        <div class = "column-1">
                            <a href="/tagaero">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class = "column-2">
                            <a href="/tagaivision">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class = "column-3">
                            <a href="/tagcontrolsystem">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class = "column-4">
                            <a href="/tagfabrication">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class = "column-5">
                            <a href="/tagsoftware">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class = "column-6">
                            <a href="/tagwebsite">
                                <img src="http://i1288.photobucket.com/albums/b484/gravity_marine/blank-01_zps84da0778.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="container">
            </div>
        </div>
        <div class="learn-more">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style = "padding-left: 10px; padding-right: 10px;">
                        <h3>ABOUT US</h3>
                        <p>&#34;The UAV Forge is a collaborative multi-disciplinary project with the goal of expanding knowledge and experience pertaining to the design of UAV&#39;s to meet versatile mission requirements. We are going to accomplish this by first making a system that meets DARPA&#39;s requirements&#44; then we will continue to investigate the feasibility and effectiveness of other configurations until a final&#44; optimal model is achieved.&#34;</p>
                        <p><a href="#about-us">For more information...</a></p>
                    </div>

                    <div class="col-md-4" style = "padding-left: 10px; padding-right: 10px;">
                        <h3>GET INVOLVED</h3>
                        <p>With a project so unique and defining as UAV Forge&#44; there&#39;s plenty of ways to get involved! Anywhere from you want some experience to you want to apply your experiences&#44; from Freshmen to graduate students&#44; we aim to give you all an opportunity to join the project.</p>
                        <p><a href="#get-involved">For more information...</a></p>
                    </div>

                    <div class="col-md-4" style = "padding-left: 10px; padding-right: 10px;">
                        <h3>OUR MISSION</h3>
                        <p>This is in two parts: our overall mission, and the technical brief of the project itself. Both are given below.</p>
                        <p><a href="#our-mission">For more information...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
            </div>
        </div> 
    </body>
</html>