{% extends "base.html" %}
{% block title %} {{post_list.0.category}} Team {% endblock %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

                    <p class="post-meta">
                        Time: {{ post.date_time |date:'Y /m /d'}} 
                        <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">{{ post.category }}
                        </a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|safe|truncatewords:15}}
                    </p>
                </div>
                <a class="button" href="{% url 'detail' id=post.id %}"> Read More >>> </a>
        </section>
    {% endfor %}

    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if post_list.has_previous %}
        <li><a href="?page={{ post_list.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}">Next</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}      